@model Blog.Models.Boxing

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            --author @Model.Author.FullName
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Boxing", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Boxing", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }
           
            @Html.ActionLink("Back", "List", "Boxing", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article>
</div>
<hr />
